extends layout

block content
    #wrapper
        include nav
        #page-header-cases.page-header.has-background-image
            .overlay
            .container
                h1(style={'font-size':'1.8em'}).page-title.center
                    |为客户全方位考虑品牌设计优化用户体验
        .page-content.no-margin-bottom
            section(style={'padding':'0px 0'})
                .container
                    h2.section-heading.center
                        |项目建设案例展示
            section
                .container
                    .row
                        mixin case_block(imgsrc,proName,content)
                            .col-md-4.new-block
                                .new-content
                                    .new-image
                                        img(src=imgsrc)
                                    .new-bottom
                                        .new-intro
                                            h3.new-title(style={'margin-top':'10px'})
                                                |#{proName}
                                            p
                                                |#{content}
                        - each item in caseList
                            +case_block(item.imgsrc,item.proName,item.content)
            section
                .container
                    .pagelist(totalpage="#{page.totalPage}",
                    pagesize="9",currentpage="#{page.currentPage}",prevurl="#{prevUrl}")
              
        include footer
