extends layout

block content
  #wrapper
    include nav
    section.hero-unit.hero-fullwidth.fullwidth-image.hero-rotating-words
      .hero-content
        .container
          h2.heading
            |油麦菜信息科技有限公司
          p.lead
            //- |Made
            span#rotating-words.rotating-words
              |创造爱 &amp; 激情, 快速创建你的项目, 节省你宝贵的时间
          a.btn.btn-primary.btn-lg(href="#")
            |联系我们
          a.btn.btn-default.btn-lg(href="#")
            |了解更多
    section.no-padding-bottom
      .container
        .row.icon-info-group
          .col-md-4
            .icon-info.icon-info-center
              i.icon.icon_lifesaver.ico-styled-md
              h3.title
                |24小时技术支持
              p
                |我们将为你提供24小时技术支持，解决你的后顾之忧
              //- a.more(href="#")
              //-   |Support Info
              //- i.fa.fa-angle-right
          .col-md-4
            .icon-info.icon-info-center
              i.icon.icon_cloud-download_alt.ico-styled-md
              h3.title
                |网站安全保障
              p
                |数据库安全备份 BUG检查修复。为你的网站保驾护航
              //- a.more(href="#")
              //-   |Getting an Update
              //- i.fa.fa-angle-right
          .col-md-4
            .icon-info.icon-info-center
              i.icon.icon_question_alt2.ico-styled-md
              h3.title
                |优质客户服务
              p
                |以客户需求为基础，以自身理念方向，成就客户，即是成就我们
              //- a.more(href="#")
              //-   |Ask a Question
              //- i.fa.fa-angle-right
    section
      .container
        .row
          each table in pricing
            .col-md-3.col-md-offset-1.col-sm-6.pricing-table.pricing-recommended
              .top
                h3.heading
                  |#{table.title}
              .bottom
                ul.list-unstyled.list-details
                  each items in table.list
                    li
                      a(href="#{items.link}")
                        |#{items.title}
                a.btn.btn-primary(href="#{table.button.btnLink}")
                  |#{table.button.title}
    section.case-block
      .container
        h2.txtcenter.section-heading
          |#{midTitle.title}
          p.intro
            |#{midTitle.detail}
        .row
          .col-md-4
            .icon-info.icon-info-left
              .case
                img(src="/images/blog/blog-med-img4.jpg")
                .txt-abs
                  dl
                    dt
                      |广州油麦菜信息科技有限公司
                    dd
                      |-官网
                    dd
                      |-Date:2018.2
          .col-md-4
            .icon-info.icon-info-left
              .case
                img(src="/images/blog/blog-med-img4.jpg")
                .txt-abs
                  dl
                    dt
                      |广州油麦菜信息科技有限公司
                    dd
                      |-官网
                    dd
                      |-Date:2018.2  
          .col-md-4
            .icon-info.icon-info-left
              .case
                img(src="/images/blog/blog-med-img4.jpg")
                .txt-abs
                  dl
                    dt
                      |广州油麦菜信息科技有限公司
                    dd
                      |-官网
                    dd
                      |-Date:2018.2
          .col-md-4
            .icon-info.icon-info-left
              .case
                img(src="/images/blog/blog-med-img4.jpg")
                .txt-abs
                  dl
                    dt
                      |广州油麦菜信息科技有限公司
                    dd
                      |-官网
                    dd
                      |-Date:2018.2
          .col-md-4
            .icon-info.icon-info-left
              .case
                img(src="/images/blog/blog-med-img4.jpg")
                .txt-abs
                  dl
                    dt
                      |广州油麦菜信息科技有限公司
                    dd
                      |-官网
                    dd
                      |-Date:2018.2  
          .col-md-4
            .icon-info.icon-info-left
              .case
                img(src="/images/blog/blog-med-img4.jpg")
                .txt-abs
                  dl
                    dt
                      |广州油麦菜信息科技有限公司
                    dd
                      |-官网
                    dd
                      |-Date:2018.2
    section.figure-show
        .container
          h2.txtcenter.section-heading
            |优势之道·素谓天成
            p.intro
              |用心、用责、 用情
        .row
          .col-md-3.number-block
            .number
              |10+
            .number-abs
              |10年高端网站设计经验
          .col-md-3.number-block
            .number
              |28+
            .number-abs
              |28+政府单位的认可
          .col-md-3.number-block
            .number
              |800+
            .number-abs
              |800+品牌客户的选择
          .col-md-3.number-block
            .number
              |5000+
            .number-abs
              |5000+企业客户的选择
    seciont.news
      .container
          h2.txtcenter.section-heading
            |油麦资讯
            p.intro
              a.newBtn.active(href="javascript:void(0)")
                |公司新闻
              a.newBtn(href="javascript:void(0)")
                |常见问题
      .table-page
        .tab-content
          .tab
            .row
              .col-md-5.col-md-offset-1
                ul
                  li
                    .date
                      span.day
                        |New
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                  li
                    .date
                      span.day
                        |New
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                  li
                    .date
                      span.day
                        |Hot
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                  li
                    .date
                      span.day
                        |Hot
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
              .col-md-5.new-right-content
                ul
                  li
                    a.imglink(href="help/info.asp?lb_id=2987")
                      img(src="/images/3330.jpg")
                    h4
                      a(href="help/info.asp?lb_id=2987")
                        |油麦菜信息科技有限公司,十年专注,有效才是硬道理
                    p
                      |做好内容营销，离不开高质量的营销内容与良好的用户体验，牢牢把握这两个重点才能够与用户有效沟通，
                      |给用户提供有价值的内容，进而才能提升内容营销水平。
                    .info.clearfix
                      span
                        |2017-11-26
                      a(href="help/info.asp?lb_id=2987")
                        |浏览更多
                  li
                    a(href="help/info.asp?lb_id=2987")
                      img(src="/images/3330.jpg")
                    h4
                      a(href="help/info.asp?lb_id=2987")
                        |油麦菜信息科技有限公司,十年专注,有效才是硬道理
                    p
                      |做好内容营销，离不开高质量的营销内容与良好的用户体验，牢牢把握这两个重点才能够与用户有效沟通，
                      |给用户提供有价值的内容，进而才能提升内容营销水平。
                    .info.clearfix
                      span
                        |2017-11-26
                      a(href="help/info.asp?lb_id=2987")
                        |浏览更多
          .tab
            .row
              .col-md-5.col-md-offset-1
                ul
                  li
                    .date
                      span.day
                        |New
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                  li
                    .date
                      span.day
                        |New
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                  li
                    .date
                      span.day
                        |Hot
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                  li
                    .date
                      span.day
                        |Hot
                      span.line
                      span.month
                        |2018-4-18
                    .new-content
                      h4
                        a(href="help/info.asp?lb_id=3128" title="签约北京也趣国际传媒广告有限公司网站建设项目")
                          |签约北京也趣国际传媒广告有限公司网站建设项目
                      p
                        a(href="help/info.asp?lb_id=3128")
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
                          |油麦菜信息科技是2006年成立的一家专业从事北京网站建设、北京网站制作的公司
              .col-md-5.new-right-content
                ul
                  li
                    a.imglink(href="help/info.asp?lb_id=2987")
                      img(src="/images/3330.jpg")
                    h4
                      a(href="help/info.asp?lb_id=2987")
                        |油麦菜信息科技有限公司,十年专注,有效才是硬道理
                    p
                      |做好内容营销，离不开高质量的营销内容与良好的用户体验，牢牢把握这两个重点才能够与用户有效沟通，
                      |给用户提供有价值的内容，进而才能提升内容营销水平。
                    .info.clearfix
                      span
                        |2017-11-26
                      a(href="help/info.asp?lb_id=2987")
                        |浏览更多
                  li
                    a(href="help/info.asp?lb_id=2987")
                      img(src="/images/3330.jpg")
                    h4
                      a(href="help/info.asp?lb_id=2987")
                        |油麦菜信息科技有限公司,十年专注,有效才是硬道理
                    p
                      |做好内容营销，离不开高质量的营销内容与良好的用户体验，牢牢把握这两个重点才能够与用户有效沟通，
                      |给用户提供有价值的内容，进而才能提升内容营销水平。
                    .info.clearfix
                      span
                        |2017-11-26
                      a(href="help/info.asp?lb_id=2987")
                        |浏览更多
    section.cooperative
      .container
        h2.txtcenter.section-heading
            |合作伙伴
            p.intro
              |他们都选择了油麦菜
        ul.list-inline.list-logo
          li
            a(href="#")
              img(src="images/clients/20170829172903847.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829172912037.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829172922146.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829173100317.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829173112079.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829173121767.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829173145104.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829173159269.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829173832312.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829173951030.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829174049904.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829174137360.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829174243660.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829174304220.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829174457835.jpg" alt="logo")
          li
            a(href="#")
              img(src="images/clients/20170829174420692.jpg" alt="logo")
    .right-nav
      ul
        li
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-weixin")
        li
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-qq")
        li
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-dianhua")
        li
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-haoyouliebiao")
        li
          |TOP
    include footer
